@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg: #fefefe;
  --body-color: #F2F2F2;
  --text-color:#000;
}

.dark {
  --bg: #2b3844;
  --body-color: #202c36;
  --text-color:#fff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  background-color: var(--body-color);
}

.container {
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.header {
  padding: 29px 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background: var(--bg);
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  color: var(--text-color);
}

.header_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
}
.header_btn::before {
  content: "";
  background-image: url(../img/header_btn_light.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: #fff;
}
.header_btn::before :checked {
  display: none;
}

.header_btn:checked::before {
  width: 20px;
  height: 20px;
  background-image: url(../img/header_btn.svg);
}

.hero_nav {
  padding: 48px 0;
}

.hero_input {
  padding: 18px 32px 18px 74px;
  width: 480px;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  background: var(--bg);
  border-radius: 5px;
  border: none;
}
.hero_input::-webkit-input-placeholder {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}
.hero_input::-moz-placeholder {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}
.hero_input:-ms-input-placeholder {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}
.hero_input::-ms-input-placeholder {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}
.hero_input::placeholder {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.input_block {
  position: relative;
}

.input_block::before {
  content: "";
  background-image: url(../../img/search.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 32px;
  top: 19px;
}

.hero_select {
  padding: 18px 77px 18px 24px;
  border: none;
  background-color: var(--bg);
  color: var(--text-color);
  cursor: pointer;
}

.select_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_btn {
  color: var(--text-color);
  cursor: pointer;
}

.hero_des {
  padding: 29px 0 46px 24px;
}

.hero_item {
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
  background: var(--bg);
  border-radius: 5px;
}

.hero_img {
  width: 100%;
}

.hero_title {
  font-weight: 800;
  font-size: 18px;
  line-height: 144%;
  color: var(--text-color);
  margin-bottom: 16px;
}

.hero_third_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
  color: var(--text-color);
}

.hero_span {
  font-weight: 300;
}

.hero_text {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
  color: var(--text-color);
}

.hero_list {
  padding-top: 48px;
}

.hero_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  gap: 75px;
}/*# sourceMappingURL=style.css.map */